{% extends "lBase.html.twig" %}

{% block title %}Accès refusé{% endblock %}

{% block content %}
    <div class="row">
        <div class="cell-12">
            <h1 class="marg-0-bottom align-center">
                Accès refusé
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 msg-error">
            <span class="txt-b">Oups : </span>
            <span>Vous n'êtes pas autorisé à atteindre cette page.</span>
        </div>
    </div>
{% endblock %}