{% extends "lBase.html.twig" %}

{% block title %} Page inexistante{% endblock %}

{% block content %}
<div class="row">
    <div class="cell-12">
        <h1 class="txt-skinny">Oups !</h1>
        <p>{{ content }}</p>
    </div>
</div>
{%  endblock %}
