<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Mini Framework PHP">
    <meta name="author" content="Habit Jérémy">
    <title>{% block title %}{% endblock %} - Mini Framework</title>

    <!-- CSS -->
    <link rel="stylesheet" href="ui/css/libraries/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="ui/css/libraries/hover.css" type="text/css">
    <link rel="stylesheet" href="ui/css/libraries/MagicMonkeyCSS.min.css" type="text/css">
    <link rel="stylesheet" href="ui/css/common.css" type="text/css">
    {% block css %}{% endblock %}

    <!-- JS-->
    {% block js %}{% endblock %}
</head>
<body>

<!--HEADER START-->
{% include 'lHeader.html.twig' %}

<!--BODY START-->
<main class="mw marg-auto padd-15-top-bottom-xs">
    <div class="row-col-s">
        <div class="cell-3 c4-l border-right border-right-clouds">
            <div class="row">
                <div class="cell-12 bg-clouds">
                    {% include 'lRightAsideArticle.html.twig' %}
                </div>
                <div class="cell-12 bg-clouds">
                    {% include 'lRightAsideImage.html.twig' %}
                </div>
            </div>
        </div>
        <div class="cell-9 c8-l anim-zoom">
            {{ flashAll|raw ?: "" }}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

<!--FOOTER START-->
{% include 'lFooter.html.twig' %}

</body>
</html>
