<div id="menu" class="row pos-fix-full-top hide show-s">
    <div class="cell-6">
        <span>Mini Journal</span>
    </div>
    <div class="cell-6">
        <img src="ui/media/icon_logo/menu-4-24.png" alt="Icône menu"/>
    </div>
</div>