<header>
    <div class="row bg-peter-river">
        <div class="cell-12 color-info">
            <a href="index.php" class="dis-block color-yang" title="Vers l'accueil">
                <span class="txt-sizeM dis-block">Mini Journal</span>
                <span class="txt-skinny">Projet pour réaliser un mini framework php</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
            <a class="color-orange" href="index.php?o=page&a=about" title="A propos">
                <span>A propos</span>
            </a>
        </div>
    </div>
</header>