<header>
    <div class="row-col-s jumbo align-center-s">
        <div class="cell-9 hide-s">
            <a href="index.php" class="color-yang fontBilly" title="Vers l'accueil">
                <span class="txt-sizeXXL">Mini Journal version 2</span><br class="hide-s">
                <span class="hide-s fontCaviar">{ Projet pour réaliser un mini framework php }</span>
            </a>
        </div>
        <div class="cell-3 align-right align-center-s">
            <a class="linkCarrot bg-opac-6 color-yang padd-15 padd-10-s" href="index.php?o=user&a=registration"
               title="S'inscrire">Inscription</a>
        </div>
        {% if isLoggedUser() %}
            <div class="cell-12 align-center">
                <span class="color-midnight-blue bg-opac-white-9 padd-15 border-bottom-7px border-midnight-blue dis-inblock txt-sizeL">
                    {{ isLoggedUser()['name'] }}
                    {{ isLoggedUser()['first_name'] }}
                </span>
                <div>
                    <a href="index.php?o=auth&a=logout" class="color-error" title="Se déconnecter">Déconnexion</a>
                </div>
            </div>
        {% else %}
            {% include 'layout/lUserConnection.html.twig' %}
        {% endif %}
    </div>
    </div>
    <div class="row box-shad-2px">
        <div class="cell-12">
            <ul class="list-unstyled list-inline containerLinkMidnight">
                <li>
                    <a href="index.php" title="Lien vers la liste des articles publiés">Articles publiés</a>
                </li>
                {% if isLoggedUser() %}
                    <li>
                        <a href="index.php?o=article&a=nonPublies" title="Lien vers la liste des articles non publiés">Articles
                            non publiés</a>
                    </li>
                {% endif %}
                <li>
                    <a href="index.php?a=publiees&o=image" title="Lien vers la liste des images publiées">
                        Images publiées
                    </a>
                </li>
                {% if isLoggedUser() %}
                    <li>
                        <a href="index.php?a=nonPubliees&o=image" title="Lien vers la liste des images non publiées">
                            Images non publiées
                        </a>
                    </li>
                    <li>
                        <a href="index.php?a=insert&o=article" title="Lien vers le formulaire pour ajouter un article">
                            Ajouter un article</a>
                    </li>
                    <li>
                        <a href="index.php?a=insert&o=image"
                           title="Lien vers le formulaire pour ajouter un image">Ajouter un image</a>
                    </li>
                {% endif %}
                <li>
                    <a href="index.php?o=page&a=about" title="A propos">
                        <span>A propos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>