<div class="txt-sizeM padd-15 align-center color-peter-river">Image</div>
<ul class="list-unstyled list-inline-s align-center-s">
    <li><a class="padd-15 dis-block hvr-back-pulse" href="index.php?a=listAll&o=image" title="Lien vers la liste des images">Liste des images</a></li>
    <li><a class="padd-15 dis-block hvr-back-pulse" href="index.php?a=insert&o=image" title="Lien vers le formulaire pour ajouter un image">Ajouter
        un image</a></li>
    <li><a class="padd-15 dis-block hvr-back-pulse" href="index.php?a=delete&o=image" title="Lien vers le formulaire pour supprimer un image">Supprimer
        un image</a></li>
</ul>