<div class="txt-sizeM padd-15 align-center color-peter-river">Article</div>
<ul class="list-unstyled list-inline-s align-center-s">
    <li><a class="padd-15 dis-block hvr-back-pulse" href="index.php" title="Lien vers la liste des articles">Liste des articles</a></li>
    <li><a class="padd-15 dis-block hvr-back-pulse" href="index.php?a=insert&o=article" title="Lien vers le formulaire pour ajouter un article">Ajouter
        un article</a></li>
    <li><a class="padd-15 dis-block hvr-back-pulse" href="index.php?a=delete&o=article" title="Lien vers le formulaire pour supprimer un article">Supprimer
        un article</a></li>
</ul>