{% extends "lBase.html.twig" %}

{% block title %}A propos{% endblock %}

{% block content %}
    <div class="row">
        <div class="cell-12">
            <h1 class="marg-0-bottom align-center">
                A propos
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 align-center">
            <p class="msg-info">
                <span class="txt-b">Lien : </span>
                <a target="_blank" href="html/index.html" title="Vers la documentation auto-générée">Vers la
                    documentation auto-générée</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="cell-12 table-scroll">
            <h2>Comptes</h2>
            <table class="table-odd table-cell-fluid table-border">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>mdp</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>editor</td>
                    <td>editor</td>
                </tr>
                <tr>
                    <td>admin</td>
                    <td>admin</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
            <h2>Fonctionnalités demandées</h2>
            <p>L'architecture et les fonctionnalités correspondent à ce qui est demandé pour le devoir n°1 plus les
                fonctionnalités suivantes :</p>
            <ul class="txt-over-breakline">
                <li class="marg-15-bottom">
                    <span class="txt-b">association d'image(s) à un article</span>
                    <span class="msg-success marg-15-top">Fait ( possibilité de choisir l'ordre en déplacant les images via sortable.js )</span>
                </li>
                <li class="marg-15-bottom">
                    <span class="txt-b">authentification des utilisateurs</span>
                    <span class="msg-success marg-15-top">Fait</span>
                </li>
                <li class="marg-15-bottom">
                    <span class="txt-b">gestion des droits d'accès</span>
                    <span class="msg-success marg-15-top">Fait </span>
                </li>
                <li class="marg-15-bottom">
                    <span class="txt-b">suppression d'un article en AJAX</span>
                    <span class="msg-success marg-15-top">Fait ( bouton rouge/croix blanche sur la liste des articles )</span>
                </li>
                <li class="marg-15-bottom">
                    <span class="txt-b">publication/brouillon d'un article en AJAX</span>
                    <span class="msg-success marg-15-top">Fait (disponible uniquement pour un admin sur le détail d'un article )</span>
                </li>
                <li class="marg-15-bottom">
                    <span class="txt-b">insertion des métadonnées dans les pages (Open Graph Protocol, Twitter Cards, Dublin Core et Microdata)</span>
                    <span class="msg-success marg-15-top">Microdata dans les vues vOneArticle.html.twig et vOneImage.html.twig. Dublin Core dans le squelette soit lBase.html.twig .Twitter Cards et Open Graph Protocoal uniquement sur un article</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
            <h2>Compléments</h2>
            <ul class="txt-over-breakline">
                <li class="marg-15-bottom">
                    <span class="txt-b">Utilisation de <a class="color-peter-river" target="_blank" href="https://masonry.desandro.com/" title="Lien vers Masonry.js">masonry.js</a> pour afficher la liste des images</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}